.about {
  display: flex;
  padding: 80px 0px 100px;
  column-gap: 120px;
  align-items: center;
  justify-content: center;
}

.about-block {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 430px;
}

.about-img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.about-block h2 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  max-width: 370px;
}

.about-block p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #4c4c4c;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
    row-gap: 80px;
    align-items: center;
  }

  .about-img {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px){
    .about {
        row-gap: 42px;
        align-items: center;
        padding: 42px 15px;
      }
    
      .about-block {
        align-items: center;
        row-gap: 22px;
      }
      .about-block h2 {
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
        max-width: 250px;
      }
    
      .about-block p {
        max-width: 270px;
        text-align: justify;
      }
    
      .about-img {
        min-width: 260px;
        width: 60%;
      }
}
