.section-search{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    row-gap: 20px;
}

.section-search-pets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
    }

.section-search-pets .friend-item{
    width: 270px;
    flex-basis: 0;
}