.help {
    padding-top: 80px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .help h2 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .help ul {
    list-style: none;
    display: flex;
    padding-right: 85px;
    padding-left: 85px;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
  }
  
  .help ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  
  .help ul li p {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
  }

  @media screen and (max-width: 1279px){
    .help ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 39px;
        column-gap: 60px;
        row-gap: 55px;
      }
  }

  @media screen and (max-width: 767px){
    .help {
        padding: 42px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .help ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        padding: 42px 5px 0px;
        justify-content: space-between;
        row-gap: 30px;
      }
    
      .help ul li img {
        width: 50px;
        height: 50px;
      }
    
      .help ul li {
        width: 130px;
        row-gap: 20px;
      }
    
      .help ul li p {
        font-family: Georgia;
        font-size: 15px;
        font-weight: 400;
        line-height: 16.5px;
        letter-spacing: 0.06em;
        text-align: center;
      }
    
      .help h2 {
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
        margin-bottom: 0;
        max-width: 300px;
      }
  }    
  