.swiper-pagination-bullet {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: gray;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #f1cdb3;
  font-weight: bold;
  color: black;
}

.swiper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.swiper-pagination{
  position: static;
  align-self: center;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  transform: translateX(0%);
}

.wrapper-friends {
    background: #f6f6f6;
  }
  
.friends {
  padding-top: 77px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends h2 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 60px;
}

.friend-item {
  flex-basis: 33%;
  width: 270px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background: #fafafa;
  padding-bottom: 30px;
}

.friend-item.active {
  display: flex;
}

.friend-item:hover button {
  background-color: #fddcc4;
  border: 0;
  cursor: pointer;
}

.friend-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 35px 14px #0d0d0d0a;
  cursor: pointer;
}

.friend-item .friend-name {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.72px;
  letter-spacing: 0.06em;
  text-align: center;
}

.friend-item button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  background-color: #ffffff;
}

.btn {
  position: static;
  color: orange;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-weight: 600;
  background-color: #f6f6f6;
}

.btn:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.friends a {
  margin-top: 50px;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background: #f1cdb3;
  border: 0;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  text-align: center;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: #292929;
  padding: 15px 44px 15px 44px;
}

.friends a:hover {
  background-color: #fddcc4;
  transform: scale(1.05);
}

.slider {
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  width: auto;
}

.swiper {
  width: 1000px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  column-gap: 90px;
}

/*POPUP*/

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fafafa;
  max-width: 900px;
  display: flex;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.popup-top{
  display: flex;
}

.popup-btn {
  width: 52px;
  height: 52px;
  align-self: flex-end;
  border-radius: 100px;
  border: 2px;
  border: 2px solid #f1cdb3;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -50px;
  right: -44px;
  cursor: pointer;
  font-weight: 900;
}

.popup-btn:hover{
  background-color: #f1cdb3;
  cursor: pointer;
}

.popup-text {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  padding-right: 20px;
  padding-top: 50px;
}

.popup-name {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 10px;
}

.popup-type {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 40px;
}

.popup-desc {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 40px;
}

.popup-qualities {
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popup-qualities li::marker {
  color: #f1cdb3;
}

.popup-qualities li {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  text-align: left;
}

.popup-content img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}



.popup-btn-add {
  padding: 12px;
  width: 50%;
  background-color: #f1cdb3;
  color: #5a3c2a;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.popup-btn-add:hover {
  background-color: #dab18f;
}

.popup-btn-delete{
  background-color: rgb(255, 48, 48);
}

@media screen and (max-width: 1279px) {
  .swiper {
    width: 585px;
  }

  .swiper-slide {
    column-gap: 45px;
  }

  .popup-content img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
  }
  .popup-type{
    margin-bottom: 20px;
  }
  .popup-desc {
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.3px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 20px;
  }

  .popup-qualities{
    row-gap: 5px;
  }
  .popup-content{
    max-width: 630px;
  }

  .popup-text{
    padding-left: 11px;
    padding-right: 9px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .swiper {
    width: 270px;
  }

  .btn {
    display: none;
  }

  .swiper-slide {
    column-gap: 0;
  }

  .friends {
    row-gap: 42px;
    padding: 42px 0px;
  }
  .friends h2 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 0;
    max-width: 300px;
  }



  .popup-content img{
    display: none;
  }

  .popup-text{
    padding: 10px;
    align-items: center;
  }
  
  .popup-text{
    max-width: 240px;
  }
  .popup-desc{
    text-align: justify;
    margin-bottom: 24px;
  }
  .popup-qualities{
    align-self: flex-start;
  }

  .popup-btn{
    right: -29px;
    top: -52px;
  }
}


.stop-scroll{
  overflow: hidden;
}