.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1cdb3; /* Бежевый цвет */
}

.authCard {
  background-color: #5a3c2a; /* Коричневый цвет */
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #dab18f;
  background-color: #fff;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #f1cdb3;
}

.button {
  padding: 12px;
  background-color: #f1cdb3;
  color: #5a3c2a;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dab18f;
}

.link {
  color: #e39f72; 
  text-decoration: none;
  font-size: 16px; 
  font-weight: bold;
  transition: color 0.3s ease;
  margin-top: 15px;
  display: inline-block;
  text-align: center;
}

.link:hover {
  color: #f1cdb3;
  text-decoration: underline;
}

/* Адаптивность для экранов до 320px */
@media (max-width: 500px) {
  .authCard {
    padding: 20px;
    max-width: 280px;
  }

  h2 {
    font-size: 20px;
  }

  .input, .button {
    font-size: 14px;
    padding: 8px;
  }
}
